@media screen and (min-width: 1201px) {
  .poetry-list {
    margin: 0 auto;
    display: inline-block;
    /* width: 40%; */
    width: 100%;
    text-align: left;
  }

  .poetry-list .poetry-item {
    margin-top: 20px;
    padding: 10px;
    background-color: #F0EFE2;
  }

  .poetry-list .poetry-item .title{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #19537D;
  }

  .poetry-list .poetry-item .title:hover {
    text-decoration: underline;
  }
  .poetry-list .poetry-item .author {
    font-size: 12px;
    color: #65645F;
    height: 30px;
    line-height: 30px;
  }

  .poetry-list .poetry-item .content {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
}

/* web app版本样式 */
@media screen and (max-width: 1200px) {
  .poetry-list {
    margin: 0 auto;
    display: inline-block;
    /* width: 40%; */
    width: 100%;
    text-align: left;
  }

  .poetry-list .poetry-item {
    margin-top: 20px;
    padding: 10px;
    background-color: #F0EFE2;
  }

  .poetry-list .poetry-item .title{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #19537D;
  }

  .poetry-list .poetry-item .title:hover {
    text-decoration: underline;
  }
  .poetry-list .poetry-item .author {
    font-size: 12px;
    color: #65645F;
    height: 30px;
    line-height: 30px;
  }

  .poetry-list .poetry-item .content {
    font-size: 14px;
    /* height: 30px;
    line-height: 30px; */
  }
}